<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zm.demo.mapper.AppUserMapper">
<select id="selectUserByPage" parameterType="map" resultType="AppUser">
    select * from app_user limit #{pageNum},#{pageSize};
</select>
</mapper>
